<!-- client-info.component.html -->
<section class="client-info-container">
  <div class="container-content">
    <div class="content">
      <h2 class="title">Para você, nosso valioso cliente</h2>
      <p class="description">
        Aqui no Bistro Bliss, acreditamos que jantar vai além da comida – é
        sobre toda a experiência. Nossa equipe, conhecida pela simpatia e
        dedicação, se empenha em transformar cada visita em um momento memorável
        e especial.
      </p>

      <div class="info-cards">
        @for (stat of statistics; track stat.number) {
        <div class="stat-card">
          <h3>{{ stat.number }}</h3>
          <p>{{ stat.label }}</p>
        </div>
        }
      </div>
    </div>

    <div class="image-container">
      <img
        src="../../../../assets/images/about/chef-preparing-food.jpg"
        alt="Chef preparando comida"
      />
    </div>
  </div>
</section>
