<section class="menu-section">
  <div class="menu-section__content">
    <h2 class="menu-section__title">Conheça nosso Cardápio</h2>
    <div class="menu-section__cards">
      <app-menu-card-home
        svgPath="/assets/images/icons/coffee.svg"
        title="Café da Manhã"
        description="Comece o dia com nosso delicioso café da manhã, repleto de opções frescas e feitas com carinho."
        buttonLabel="Ver Menu"
        link="/menu/cafe-da-manha"
      >
      </app-menu-card-home>
      <app-menu-card-home
        svgPath="/assets/images/icons/food.svg"
        title="Pratos Principais"
        description="Saboreie nossos pratos, preparados com ingredientes selecionados, trazendo o melhor da culinária."
        buttonLabel="Ver Menu"
        link="/menu/pratos-principais"
      >
      </app-menu-card-home>
      <app-menu-card-home
        svgPath="/assets/images/icons/drink.svg"
        title="Drinks"
        description="Conheça nossos drinks refrescantes e exclusivos, perfeitos para acompanhar sua refeição ou momento especial."
        buttonLabel="Ver Menu"
        link="/menu/drinks"
      >
      </app-menu-card-home>
      <app-menu-card-home
        svgPath="/assets/images/icons/cake.svg"
        title="Sobremesas"
        description="Finalize sua experiência com nossas irresistíveis sobremesas, feitas para adoçar seu paladar com perfeição."
        buttonLabel="Ver Menu"
        link="/menu/sobremesas"
      >
      </app-menu-card-home>
    </div>
  </div>
</section>
