<!-- footer.component.html -->
<footer class="footer">
  <div class="footer-content">
    <!-- Logo e Slogan -->
    <div class="footer-brand">
      <div class="logo">
        <img
          src="../../../assets/images/logo/logo.svg"
          alt="Bistro Bliss Logo"
        />
        <h2>Bistro Bliss</h2>
      </div>
      <p class="slogan">Sabor que Encanta, Momentos que Permanecem.</p>
      <div class="social-icons">
        <a href="#" class="social-icon"><i class="pi pi-twitter"></i></a>
        <a href="#" class="social-icon"><i class="pi pi-facebook"></i></a>
        <a href="#" class="social-icon"><i class="pi pi-instagram"></i></a>
        <a href="#" class="social-icon"><i class="pi pi-github"></i></a>
      </div>
    </div>

    <!-- Container para as duas colunas em mobile -->
    <div class="mobile-row">
      <!-- Páginas -->
      <div class="footer-section footer-pages">
        <h3>Páginas</h3>
        <ul>
          <li><a routerLink="/home">Início</a></li>
          <li><a routerLink="/about">Sobre</a></li>
          <li><a routerLink="/menu">Menu</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <li><a routerLink="/contact">Contato</a></li>
          <li><a routerLink="/delivery">Delivery</a></li>
        </ul>
      </div>

      <!-- Páginas Úteis -->
      <div class="footer-section">
        <h3>Páginas Úteis</h3>
        <ul>
          <li><a href="#">Comece Aqui</a></li>
          <li><a href="#">Guia de Estilo</a></li>
          <li><a href="#">Proteção de Senha</a></li>
          <li><a href="#">404 Not Found</a></li>
          <li><a href="#">Licenças</a></li>
          <li><a href="#">Registros</a></li>
          <li><a href="#">Ver Mais</a></li>
        </ul>
      </div>
    </div>

    <!-- Instagram Feed -->
    <div class="footer-section instagram-section">
      <h3>Siga Nosso Instagram</h3>
      <div class="instagram-grid">
        <div class="instagram-item">
          <img src="../../../assets/images/footer/food1.jpg" alt="Prato 1" />
        </div>
        <div class="instagram-item">
          <img src="../../../assets/images/footer/food2.jpg" alt="Prato 2" />
        </div>
        <div class="instagram-item">
          <img src="../../../assets/images/footer/food3.jpg" alt="Prato 3" />
        </div>
        <div class="instagram-item">
          <img src="../../../assets/images/footer/food4.jpg" alt="Prato 4" />
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-bottom">
    <p>
      Copyright © 2025 Feito por
      <a href="https://deneto.com.br/" target="_blank" class="social-link"
        >Deusdete Neto</a
      >. All Rights Reserved
    </p>
  </div>
</footer>
