<section class="about-section">
  <div class="content-container">
    <app-image-and-card
      [contactInfo]="{
        phone: '(61) 9 8617-0964',
        email: 'torresneto.tn@exemplo.com',
        address: 'Brasília DF, 123'
      }"
      imageUrl="../../../../../assets/images/about/prato-about-principal.jpg"
    ></app-image-and-card>

    <div class="text-content">
      <h2>Alimentos saudáveis para sua família</h2>

      <p class="description">
        Nossa história começou com a visão de criar uma experiência gastronômica
        única que mescla refeições requintadas, serviço excepcional e um
        ambiente vibrante. Enraizados na rica cultura culinária da cidade, nosso
        objetivo é honrar nossas raízes locais enquanto infundimos um paladar
        global.
      </p>

      <p class="experience">
        No local, acreditamos que jantar não é apenas sobre comida, mas também sobre a experiência geral. Nossa equipe, reconhecida por sua cordialidade e dedicação, se esforça para tornar cada visita um evento inesquecível.
      </p>
    </div>
  </div>
</section>
