<section class="hero">
  <div class="hero__content">
    <h1 class="hero__title">
      Sabores que<br />
      Encantam,<br />
      Momentos<br />
      que Marcam
    </h1>

    <p class="hero__description">
      Experimente uma explosão de sabores e crie memórias inesquecíveis em nosso
      acolhedor refúgio gastronômico. <br />Aqui, cada prato é pensado para
      surpreender o seu paladar.
    </p>

    <div class="hero__buttons">
      <app-button
        customClass="button-reserve"
        label="Faça uma Reserva"
        link="/reservation"
      >
      </app-button>
      <app-button customClass="button-menu" label="Ver Menu" link="/menu">
      </app-button>
    </div>
  </div>
</section>
