<!-- delivery-apps.component.html -->
<section class="delivery-apps-container">
  <div class="content-wrapper">
    <div class="text-content">
      <h2>Peça pelo App</h2>
      <p>
        Com nosso delivery, você pode fazer seu pedido de forma rápida e
        prática, direto do seu celular!
      </p>
    </div>

    <div class="apps-grid">
      <div *ngFor="let app of deliveryApps" class="app-card">
        <img [src]="app.logoUrl" [alt]="app.altText" />
      </div>
    </div>
  </div>
</section>
