<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="admin-container">
  <h2>Gestão Contatos</h2>

  <p-table
    [value]="contacts"
    [rows]="10"
    [paginator]="true"
    styleClass="admin-table"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Assunto</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-contact>
      <tr>
        <td>
          <a class="clickable-text" (click)="showDetails(contact)">
            {{ contact.name }}
          </a>
        </td>
        <td>
          <a class="clickable-text" (click)="showDetails(contact)">
            {{ contact.email }}
          </a>
        </td>
        <td>
          <a class="clickable-text" (click)="showDetails(contact)">
            {{ contact.subject }}
          </a>
        </td>
        <td>
          <span class="status-badge" [ngClass]="contact.status?.toLowerCase()">
            {{ contact.status || "Pendente" }}
          </span>
        </td>
        <td>
          <div class="action-buttons">
            <button
              pButton
              class="p-button-success"
              icon="pi pi-thumbs-up-fill"
              [disabled]="contact.status === 'Positivo'"
              (click)="updateStatus(contact.id, 'Positivo')"
            ></button>
            <button
              pButton
              class="p-button-danger"
              icon="pi pi-thumbs-down-fill"
              [disabled]="contact.status === 'Negativo'"
              (click)="updateStatus(contact.id, 'Negativo')"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
