<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="card">
  <div class="header-container">
    <h1>Gestão de Menu - Cardápio</h1>
    <div class="action-buttons">
      <button class="action-btn new" [routerLink]="['new']">
        + Novo Produto
      </button>
      <button
        class="action-btn delete-selected"
        (click)="deleteSelectedProducts()"
        [disabled]="!selectedProducts.length"
      >
        <i class="pi pi-trash"></i> Excluir Selecionados
      </button>
    </div>
  </div>

  <p-table
    [value]="products"
    [(selection)]="selectedProducts"
    [paginator]="true"
    [rows]="10"
    styleClass="custom-table"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Código</th>
        <th>SKU</th>
        <th>Categoria</th>
        <th>Disponível</th>
        <th>Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{ product.name }}</td>
        <td>R${{ product.price }}</td>
        <td>{{ product.code }}</td>
        <td>{{ product.sku }}</td>
        <td>{{ product.category }}</td>
        <td>
          <p-inputSwitch [(ngModel)]="product.available"></p-inputSwitch>
        </td>
        <td>
          <div class="row-actions">
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-success mr-2"
              (click)="editProduct(product)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="deleteProduct(product)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
