<div class="top-bar">
  <div class="container">
    <div class="top-bar__left">
      <a href="tel:4148670107" class="top-bar__contact">
        <i class="pi pi-phone"></i>
        (414) 867 - 0107
      </a>
      <a href="mailto:yummy@bistrobliss" class="top-bar__contact">
        <i class="pi pi-envelope"></i>
        yummybistrobliss
      </a>
    </div>
    <div class="top-bar__right">
      <div class="social-links">
        <a href="#" class="social-link"><i class="pi pi-twitter"></i></a>
        <a href="#" class="social-link"><i class="pi pi-facebook"></i></a>
        <a href="#" class="social-link"><i class="pi pi-instagram"></i></a>
        <a href="#" class="social-link"><i class="pi pi-github"></i></a>
      </div>
    </div>
  </div>
</div>

<header class="main-header">
  <div class="container">
    <div class="main-header__content">
      <div class="logo">
        <img src="assets/images/logo/logo.svg" alt="Bistro Bliss Logo" />
        <span class="logo-name">Bistro Bliss</span>
      </div>

      <nav class="main-nav">
        <ul class="nav-list">
          <li><a href="#" class="nav-link active">Início</a></li>
          <li><a href="#" class="nav-link">Sobre</a></li>
          <li><a href="#" class="nav-link">Menu</a></li>
          <li><a href="#" class="nav-link">Blog</a></li>
          <li><a href="#" class="nav-link">Contato</a></li>
        </ul>
      </nav>

      <a href="#" class="reserve-button">Faça Uma Reserva</a>
    </div>
  </div>
</header>
