@import "../../../../style/variables.scss";

.delivery-section {
  display: flex;
  flex-direction: column; // Coluna em dispositivos móveis
  align-items: center;
  justify-content: center;
  background-color: $color-bg-principal;
  color: $color-white;
  padding: 2rem;
  gap: 2rem;

  .image-gallery {
    display: flex;
    flex-direction: column; // Coluna em dispositivos móveis
    gap: 1rem;
    width: 100%; // Garante que ocupe a largura total

    .img-large {
      width: 100%; // Ocupa a largura total
      text-align: center; // Centraliza a imagem

      .main-image {
        width: 100%; // Responsivo
        height: auto; // Altura automática
        max-height: 430px; // Limita a altura máxima
        border-radius: 8px;
        object-fit: cover;
      }
    }

    .img-small {
      display: flex;
      flex-direction: row; // Linha em tablets e desktops
      gap: 1rem;
      justify-content: center; // Centraliza as imagens

      .side-image {
        width: 48%; // Divide o espaço em duas colunas
        height: auto; // Altura automática
        border-radius: 8px;
        object-fit: cover;
      }
    }
  }

  .text-content {
    max-width: 100%; // Ocupa a largura total em dispositivos móveis
    text-align: center; // Centraliza o texto

    h2 {
      font-family: $font-title;
      font-size: $font-size-title;
      margin-bottom: 1rem; // Ajuste de margem
    }

    p {
      font-family: $font-content;
      font-size: $font-size-card-desc;
      margin-bottom: 2rem;
      line-height: 1.5; // Melhora a legibilidade
    }

    .features {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin-bottom: 1rem;
        justify-content: start; // Centraliza os itens

        i {
          width: 36px;
          height: 36px;
          margin-right: 20px;
          background-color: $color-cardinal;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $color-white;
          text-decoration: none;
          transition: background-color 0.3s;

          &:hover {
            background-color: hsla(355, 54%, 44%, 0.603);
          }
        }
      }
    }
  }
}

// Media Queries para Desktops
@media (min-width: 1024px) {
  .delivery-section {
    .image-gallery {
      .img-large {
        width: 50%; // Ajusta a largura da imagem grande
      }

      .img-small {
        width: 30%; // Ajusta a largura das imagens pequenas
      }
    }

    .text-content {
      max-width: 40%; // Ajusta a largura do texto
    }
  }
}

// Media Queries para Tablets
@media (min-width: 768px) {
  .delivery-section {
    flex-direction: row; // Linha em tablets e desktops
    padding: 4rem; // Aumenta o padding

    .image-gallery {
      flex-direction: row; // Linha em tablets e desktops
      gap: 2rem;

      .img-large {
        width: 60%; // Ajusta a largura da imagem grande
      }

      .img-small {
        flex-direction: column; // Coluna em tablets e desktops
        width: 40%; // Ajusta a largura das imagens pequenas

        .side-image {
          width: 100%; // Ocupa a largura total
        }
      }
    }

    .text-content {
      max-width: 50%; // Ajusta a largura do texto
      text-align: left; // Alinha o texto à esquerda
    }
  }
}
