@import "../../../../style/variables.scss";

.delivery-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-bg-principal;
  color: $color-white;
  padding: 2rem;
  gap: 2rem;

  .image-gallery {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .main-image {
      width: auto;
      height: 430px;
      border-radius: 8px;
      object-fit: cover;
    }

    .img-small {
      display: flex;
      flex-direction: column;

      .side-image {
        width: 216px;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        margin-top: 12px;
      }
    }
  }

  .text-content {
    max-width: 430px;

    h2 {
      font-family: $font-title;
      font-size: $font-size-title;
      margin-bottom: $font-size-title;
    }

    p {
      font-family: $font-content;
      font-size: $font-size-card-desc;
      margin-bottom: 2rem;
      line-height: 1.2;
    }

    .features {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin-bottom: 1rem;

        i {
          width: 36px;
          height: 36px;
          margin: 2px 20px 2px 0;
          background-color: $color-cardinal;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $color-white;
          text-decoration: none;
          transition: background-color 0.3s;

          &:hover {
            background-color: hsla(355, 54%, 44%, 0.603);
          }
        }
      }
    }
  }
}
