@import "../../../../style/variables.scss";

/* service-section.component.scss */
$color-bg-principal: #1a191e;
$color-cardinal: #ad343e;
$color-xanthous: #ffc15e;
$color-bg-buttons: #dbdfd0;
$color-whiteSmoke: #f2f3f0;
$color-white: #ffffff;
$color-eerie: #222222;
$color-onyx: #454444;

.container {
  padding: 40px;
  background-color: $color-bg-principal;
  display: flex;
  justify-content: center;

  .service-section {
    text-align: center;
    padding: 2rem;
    background-color: $color-xanthous;
    border-radius: 8px;

    &__title {
      font-family: "Libre Baskerville", serif;
      font-size: 2.5rem;
      font-weight: 400;
      color: $color-eerie;
      margin-bottom: 2rem;
    }

    &__cards {
      display: flex;
      gap: 1.5rem;
      justify-content: center;
      flex-wrap: wrap;
    }

    .service-card {
      overflow: hidden;
      transition: transform 0.3s;
      max-width: 300px;
      border-radius: 8px;

      &:hover {
        transform: translateY(-5px);
      }

      &__image {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }

      &__content {
        background-color: transparent !important;
        padding: 1rem;
        text-align: center;
      }

      &__title {
        font-family: "DM Sans", sans-serif;
        font-size: 1.25rem;
        color: $color-eerie;
        margin-bottom: 0.5rem;
      }

      &__description {
        font-family: "DM Sans", sans-serif;
        font-size: 1rem;
        font-weight: 300;
        color: $color-onyx;
      }
    }
  }
}
