<div class="blog-post" *ngIf="post">
  <div class="post-header">
    <h1>{{ post.title }}</h1>
    <div class="post-meta">
      <span class="author">Por: {{ post.author }}</span>
      <span class="date">{{ post.publishDate | date : "longDate" }}</span>
    </div>
  </div>

  <img [src]="post.imageUrl" [alt]="post.title" class="post-image" />

  <div class="post-content" [innerHTML]="content"></div>

  <div class="post-tags">
    <span *ngFor="let tag of post.tags" class="tag">{{ tag }}</span>
    <div class="button-container">
      <app-button
        label="Voltar para Blog"
        [clickable]="true"
        customClass="back-button"
        (onClick)="goBack()"
      ></app-button>
    </div>
  </div>
</div>
