@import "../../../../../style/variables.scss";

$color-bg-principal: #1a191e;
$color-cardinal: #ad343e;
$color-xanthous: #ffc15e;
$color-bg-buttons: #dbdfd0;
$color-whiteSmoke: #f2f3f0;
$color-white: #ffffff;

.menu-card {
  font-family: "DM Sans", serif;
  background: $color-whiteSmoke;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.2s;
  min-height: 22rem;

  &:hover {
    transform: translateY(-3px);
  }

  &__icon-container {
    background-color: $color-bg-buttons;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &__icon {
    width: 24px; // ajuste conforme necessário
    height: 24px; // ajuste conforme necessário
  }

  &__title {
    color: $color-eerie;
    margin: 1rem 0;
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__description {
    color: $color-onyx;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.3;
    flex-grow: 1;
  }

  ::ng-deep .button-menu {
    font-weight: 500 !important;
    color: $color-cardinal !important;
    border: none !important;

    &:hover {
      font-weight: 800 !important;
      color: $color-cardinal !important;
      background-color: #dbdfd04b !important;
      padding: 0.6rem 4rem;
    }
  }
}
