<div class="top-bar">
  <div class="container">
    <div class="top-bar__left">
      <a href="tel:61986170964" target="_blank" class="top-bar__contact">
        <i class="pi pi-phone"></i>
        (61) 9 8617 - 0964
      </a>
      <a
        href="mailto:torresneto.tn@gmail.com"
        target="_blank"
        class="top-bar__contact"
      >
        <i class="pi pi-envelope"></i>
        torresneto.tn&#64;gmail.com
      </a>
    </div>
    <div class="top-bar__right">
      <div class="social-links">
        <a
          href="https://www.instagram.com/torresneto.tn/"
          target="_blank"
          class="social-link"
          ><i class="pi pi-instagram"></i
        ></a>
        <a
          href="https://github.com/deusdeteneto"
          target="_blank"
          class="social-link"
          ><i class="pi pi-github"></i
        ></a>
      </div>
    </div>
  </div>
</div>

<header class="main-header">
  <div class="container">
    <div class="main-header__content">
      <div class="logo">
        <img src="assets/images/logo/logo.svg" alt="Bistro Bliss Logo" />
        <span class="logo-name">Bistro Bliss</span>
      </div>

      <!-- Menu Sanduíche -->
      <button class="menu-toggle" (click)="menuOpen = !menuOpen">
        <i class="pi pi-bars"></i>
      </button>

      <!-- Navegação principal -->
      <nav class="main-nav" [class.show]="menuOpen">
        <ul class="nav-list">
          <li>
            <a routerLink="/home" class="nav-link" routerLinkActive="active"
              >Início</a
            >
          </li>
          <li>
            <a routerLink="/about" class="nav-link" routerLinkActive="active"
              >Sobre</a
            >
          </li>
          <li>
            <a routerLink="/menu" class="nav-link" routerLinkActive="active"
              >Menu</a
            >
          </li>
          <li>
            <a routerLink="/blog" class="nav-link" routerLinkActive="active"
              >Blog</a
            >
          </li>
          <li>
            <a routerLink="/contact" class="nav-link" routerLinkActive="active"
              >Contato</a
            >
          </li>
        </ul>
      </nav>
      <app-button
        class="reserve-button"
        label="Faça uma Reserva"
        link="/reservation"
      ></app-button>
    </div>
  </div>
</header>
