// app/features/home/testimonials/testimonials.component.scss
@import "../../../../style/variables.scss";

.testimonials {
  padding: 4rem 0;
  background-color: $color-bg-principal;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__title {
    font-family: $font-title;
    text-align: center;
    margin-bottom: 2rem;
    font-size: $font-size-title;
    color: $color-whiteSmoke;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-items: center;
  }
}
