<section class="about-section">
  <div class="content-container">
    <app-image-and-card
      [contactInfo]="{
        phone: '(61) 9 8617-0964',
        email: 'torresneto.tn@exemplo.com',
        address: 'Brasília DF, 123'
      }"
      imageUrl="../../../../../assets/images/home/tacos-home.jpg"
    ></app-image-and-card>

    <div class="text-content">
      <h2>Alimentação Saudável e Saborosa para Toda a Família.</h2>

      <p class="description">
        Nossa jornada começou com um sonho: criar uma experiência gastronômica
        que combina pratos saudáveis e sofisticados, um serviço impecável e um
        ambiente cheio de vida. Com raízes na rica tradição culinária local,
        trazemos sabores autênticos da nossa cultura, temperados com influências
        globais.
      </p>

      <p class="experience">
        Aqui, acreditamos que uma refeição vai além da comida é uma experiência
        para ser vivida. Nossa equipe dedicada e acolhedora está sempre pronta
        para tornar cada visita inesquecível.
      </p>

      <div class="button-wrapper">
        <app-button customClass="button-about" label="Conheça Nossa História" link="/about"></app-button>
      </div>
    </div>
  </div>
</section>
