// Cores Principais do Projeto
$color-bg-principal: #1a191e;
$color-cardinal: #ad343e;
$color-xanthous: #ffc15e;
$color-bg-buttons: #dbdfd0;
$color-whiteSmoke: #f2f3f0;
$color-white: #ffffff;
$color-eerie: #222222;
$color-onyx: #454444;
