// Cores Principais do Projeto
$color-bg-principal: #1a191e;
$color-cardinal: #ad343e;
$color-xanthous: #ffc15e;
$color-bg-buttons: #dbdfd0;
$color-whiteSmoke: #f2f3f0;
$color-white: #ffffff;
$color-eerie: #222222;
$color-onyx: #454444;

// Tipografia
$font-title: "Libre Baskerville", serif;
$font-content: "DM Sans", sans-serif;
$font-size-title: 3.2rem;
$font-size-card-title: 1.5rem;
$font-size-card-desc: 1rem;
